name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
      - name: Extraire ZIP
        run: unzip *.zip
      - name: Creer local.properties
        run: echo "sdk.dir=$ANDROID_SDK_ROOT" > QuoteWorkPro/local.properties
      - name: Build APK
        run: |
          cd QuoteWorkPro
          chmod +x gradlew
          ./gradlew assembleDebug
      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: QuoteWorkPro/app/build/outputs/apk/debug/app-debug.apk
